<div class="row text-center">
  <h1><%= @cocktail.name %></h1>
</div>
  <% if check_login(@user, @cocktail) %>
    <%= link_to "Edit your cocktail", edit_current_user_cocktail_path(@cocktail), class: "btn btn-primary", id: "btn-edit" %>
  <% end %>
<% if @cocktail.doses[0] %>
  <div class="padded">
    <div class="row">
      <div class="container">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-4">
              <h4> Ingredients </h4>
            </div>
            <div class=" col-xs-6">
              <h4> Instructions </h4>
            </div>
        </div>
        <% @cocktail.doses.each do |dose|%>
          <div class="row" id="row-dose">
            <div class="col-xs-offset-2 col-xs-4">
                <p><%= dose.ingredient.name %></p>
            </div>
            <div class="col-xs-4">
              <p><%= dose.description %></p>
            </div>
            <div class="col-xs-2">
              <% if @user.id == @cocktail.user_id %>
                <%= link_to "Delete", dose_path(dose),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: "btn btn-danger", id: "btn-delete" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if check_login(@user, @cocktail) %>
  <%= render "dose_form", cocktail: @cocktail, dose: @dose %>
<% end %>
