<div class="wrapper-black">
  <div class="container">
    <div class="footer">
      <div class="social-media-icons">
        <%= link_to root_path do %>
          <%= icon('facebook-official') %>
        <% end %>
        <%= link_to root_path do %>
          <%= icon('twitter') %>
        <% end %>
        <%= link_to root_path do %>
          <%= icon('instagram') %>
        <% end %>
      </div>
      <div class="links-extra">
      <%= link_to root_path do %>
        <h5>About</h5>
      <% end %>
      <%= link_to root_path do %>
        <h5>Contact</h5>
      <% end %>
      <%= link_to root_path do %>
        <h5>Blog</h5>
      <% end %>
      </div>
    </div>
  </div>
</div>
