<div class="wrapper-green">
    <div class="navigation-bar">
      <div class="logo">
        <%= link_to cocktails_path do %>
          <%= icon('glass') %>
        <% end %>
      </div>
      <% unless controller_name == "sessions" || controller_name == "users" %>
        <div class="links">
        <% if session[:guest] %>
          <%= link_to "Signup", signup_path %>
        <% else %>
          <%= link_to "Dashboard", dashboard_path %>
          <%= link_to "Logout", logout_path %>
        <% end %>
        </div>
      <% end %>
    </div>
</div>
